*{
    font-family: 'Courier New', Courier, monospace;
   color: aliceblue;
}
body{
    background-color: blue;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.formulario {
    align-items: center;
    justify-content: center;
}
input {
    width: 20%;
    height: 5vh;
    background-color: black;
}
input:hover {
    color: black;
    background-color: red;
}
.resultado {
    padding: 3px;
}
