body {
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    color: rgb(41, 238, 179);
    align-items: center;
    flex-direction: column;
    align-content: center;
}
header {
    
    display: flex;
    width: 90%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0.0627, 0.0627, 0.0627, 0.7);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    
    
}
header a{
    text-decoration: none;
    color: inherit;
}
header img {
    width: 60px; 
      height: 60px;
      margin-left: 50px; 
}

header ul {
    display: flex;
    text-decoration: none;
    gap: 1.5rem;
    list-style: none;
    margin-right: 50px;
}
.content1 {
    display: flex;
     width: 90%;
     height: 80vh;
     background-color: rgba(2, 245, 0, 0.5);
     align-items: center;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 5%;
     margin-right: 5%;
 
 }
 .section1 {
    text-align: justify;
    display: flex;
    justify-content: center;
    background-color: #101010;
    height: 60vh;
    width: 50%;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 5%;
 }
 .section2 {
    text-align: justify;
    display: flex;
    justify-content: center;
    background-color: #101010;
    height: 60vh;
    width: 50%;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 5%;
 }
 .content2 {
    display: flex;
     width: 90%;
     height: 80vh;
     background-color: rgba(2, 245, 0, 0.5);
     align-items: center;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 5%;
     margin-right: 5%;
 
 }

 .titulo {
    text-align: center;
    justify-content: center;
 }

